* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font: bold 20px verdana, sans-serif;
}

h2 {
	font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
	display: block;
}

body {
	text-align: center;
}

#estructura {
	width: 980px;
	margin: 10px auto;
	text-align: left;
}

#cabecera {
	border: 1px solid #999999;
	padding: 20px;
}

#menu {
	background: #a7a295;
	padding: 5px 15px;
}

#menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
}

#trailers {
	float: left;
 	margin: 0 1.5%;
  	width: 73%;
}

.pelicula {
	float: left;
	width: 30%;
	margin: 5% 1.5%;
}

#trailers footer{
	clear: both;
	text-align: left;
}

#banners {
	float: right;
  	width: 20%;
 	margin: 1% 1%;
}

.banner {
	text-align: left;
}

#pie {
	clear: both;
	width: 100%;
	border-top: 2px solid #999999;
	padding-top: 20px;
}

#links{
	float: left;
	text-align: left;
	width: 30%;
}

#links ul li{
	list-style: none;
}

.nav{
	float: left;
	text-align: center;
	width: 25%;
}

.nav li{
	list-style: none;
	font: 14px verdana, sans-serif;
}

#copy{
	float: right;
	text-align: right;
	width: 20%;
}

#copy span{
	float: right;
	text-align:
}

